In [ ]:
import pandas as pd
import numpy as np
import kerastuner as kt
from kerastuner import RandomSearch
import tensorflow as tf

In [ ]:
df=pd.read_csv("Real_Combine.csv")

In [ ]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093 entries, 0 to 1092
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       1093 non-null   float64
 1   TM      1093 non-null   float64
 2   Tm      1093 non-null   float64
 3   SLP     1093 non-null   float64
 4   H       1093 non-null   float64
 5   VV      1093 non-null   float64
 6   V       1093 non-null   float64
 7   VM      1093 non-null   float64
 8   PM 2.5  1092 non-null   float64
dtypes: float64(9)
memory usage: 77.0 KB

In [ ]:
df.isnull().sum()

T         0
TM        0
Tm        0
SLP       0
H         0
VV        0
V         0
VM        0
PM 2.5    0
dtype: int64

In [ ]:
df['PM 2.5'].fillna(df['PM 2.5'].mean(),inplace=True)

In [ ]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [ ]:
def build_model(hp):
    model =tf.keras.models.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(tf.keras.layers.Dense(1, activation='linear'))
    model.compile(
        optimizer=tf.keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='mean_absolute_error',
        metrics=['mean_absolute_error'])
    return model

In [ ]:
tuner = RandomSearch(
    build_model,
    objective='val_mean_absolute_error',
    max_trials=5,
    executions_per_trial=3,
    directory='project',
    project_name='Air Quality Index')

In [ ]:


tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_test))

Trial 5 Complete [00h 00m 08s]
val_mean_absolute_error: 56.961893717447914

Best val_mean_absolute_error So Far: 52.699073791503906
Total elapsed time: 00h 00m 35s
INFO:tensorflow:Oracle triggered exit

In [ ]:


tuner.results_summary()

Results summary
Results in project/Air Quality Index
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 12
units_0: 96
units_1: 160
learning_rate: 0.01
units_2: 160
units_3: 256
units_4: 64
units_5: 192
units_6: 192
units_7: 96
units_8: 96
units_9: 288
units_10: 64
units_11: 160
units_12: 480
units_13: 480
units_14: 416
units_15: 96
units_16: 96
units_17: 160
units_18: 32
Score: 52.699073791503906
Trial summary
Hyperparameters:
num_layers: 10
units_0: 512
units_1: 160
learning_rate: 0.001
units_2: 416
units_3: 384
units_4: 448
units_5: 512
units_6: 160
units_7: 128
units_8: 224
units_9: 352
units_10: 128
units_11: 128
units_12: 320
units_13: 288
units_14: 352
units_15: 256
units_16: 256
units_17: 224
units_18: 256
Score: 56.961893717447914
Trial summary
Hyperparameters:
num_layers: 8
units_0: 352
units_1: 320
learning_rate: 0.001
units_2: 224
units_3: 288
units_4: 160
units_5: 512
units_6: 160
units_7: 416
units_8: 320
units_9: 128
units_10: 192
units_11: 224
units_12: 320
units_13: 352
units_14: 96
units_15: 160
units_16: 352
units_17: 384
units_18: 480
Score: 59.625885009765625
Trial summary
Hyperparameters:
num_layers: 18
units_0: 480
units_1: 160
learning_rate: 0.001
units_2: 416
units_3: 384
units_4: 352
units_5: 64
units_6: 448
units_7: 352
units_8: 256
units_9: 128
units_10: 192
units_11: 416
units_12: 32
units_13: 160
units_14: 128
units_15: 320
units_16: 32
units_17: 128
units_18: 160
Score: 63.01420974731445
Trial summary
Hyperparameters:
num_layers: 19
units_0: 96
units_1: 64
learning_rate: 0.001
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
units_9: 32
units_10: 32
units_11: 32
units_12: 32
units_13: 32
units_14: 32
units_15: 32
units_16: 32
units_17: 32
units_18: 32
Score: 63.634499867757164